.ArticleCard {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 600px;
  text-align: left;
}

.ArticleCard .articleContainer {
}

.ArticleCard .imgContainer {
  max-width: 800px;
}

.ArticleCard img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.ArticleCard h3 {
  margin-bottom: 0;
}

.ArticleCard h2 {
  margin-top: 0;
  margin-bottom: 0;
}
