.Navigation {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.Navigation nav {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.Navigation ul {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid grey;
  margin-bottom: 0;
  justify-content: center;
}

.Navigation li {
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.Navigation li:hover {
  color: black;
}
