@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Roboto&display=swap");

body {
  font-family: 'Libre Caslon Display', serif;
}

h1, h3 {
  color: #d30d1d
}

p {
  font-family: 'Roboto', sans-serif;
  color: grey;
}

ul {
  list-style-type: none
}
